body {
	background-color: #F8E0F7;
}

h1 {
	font-size: 48px;
	margin: none;
	padding: none;
}

div.dickDisplay, .magicCenterElement, h1 {
	width: 100%;
	margin: auto;
	text-align: center;
}

div.dickDisplay {
	font-family: Helvetica;
	font-size: 36px;
}

.buyButton {
	width: 275px;
	white-space: normal;
}

#slogan, #allTimeDicksSucked {
	margin-bottom: 30px;
	font-style: italic;
}

#allTimeDicksSucked {
	font-size: 12px;
}

#suckDickButton {
	width: 250px;
	height: 100px;
	font-size: 24px;
}

.buttonImage {
	vertical-align: middle;
}

.left { margin-right: 10px; }
.right { margin-left: 10px; }

.hidden {
	display: none;
}

#shopContainer, #grafixContainer {
	width: 310px;
}

#shopContainer {
	float: right;
	overflow: auto;
}

#grafixContainer {
	position: relative;
	float: left;
}

#footer {
	margin-bottom: 10px;
	position: absolute; 
	bottom: 0; 
	width: 99%;
}

.grafix {
	position: absolute;
}